@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    text-decoration: none;
    }

#myVideo {
    position: fixed; /*Mantiene el video en una posición fija */
    object-fit: cover; /*Escala el video para mantener su aspect ratio original y llenar la pantalla. Puede cortar partes de la imagen si es necesario*/ 
    width: 100vw;
    height: 100vh;
    right: 0;
    bottom: 0;
    z-index: -1; /*Places the video background under accompanying content. */

  }

  .Hero{
    width: 100vw;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.445);
  }

  .content{
    text-align: center;
    
  }

  .content h1 {
    font-size: 10em;
    color: #fff;
    margin-bottom: 50px;
    animation: fade-in 5s;
    -webkit-animation: fade-in 5s;
  }

  .content a {
    font-size: 2em;
    color: #fff;
    margin-bottom: 50px;
    border: 2px solid #fff;
    padding: 15px 25px;
    border-radius: 50px;
    transition: 0.3s;
    animation: aparecer 2s;
    -webkit-animation: aparecer 2s;

  }

  .content a:hover{
    background-color: #fff;
    color: #aa0c00;
  }

@keyframes fade-in{
    0%{
        opacity:0;
        transform: translateY(20px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes fade-in{
  0%{
      opacity:0;
      transform: translateY(20px);
  }

  100%{
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes aparecer{
  0%{opacity:0}
  50%{opacity:0}
  100%{opacity:1}
}

@-webkit-keyframes fadein{
  0% { opacity:0; }
  50% { opacity:0; }
  100% { opacity:1; }
}

